body{
    background: url(../img/fondo.gif);
	background-repeat: t;
	max-width: 20px auto;
	background-size: 100%;
}

aside{
	background-color: #2b2929;
}
.main.row{
	margin: 10px;
}
.panel-heading{
	background-color: #2b2929;
	border-color: white;
}
a{
	color: yellow;
}
